<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>

    

    <form action="/delete" method="post">
      <input type="hidden" name="postId" value="<%= id %>">
      <a href="/" class="btn btn-primary ">Back</a>
      <button type="submit" class="btn btn-primary ">Delete</button>
    </form>

<%- include("partials/footer"); -%>
